#Librerías necesarias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
import io
import sqlite3
import seaborn as sns
from sqlalchemy import create_engine, inspect
import time
from flask import Flask, jsonify, send_file, render_template_string
from matplotlib.ticker import StrMethodFormatter
app = Flask(__name__)
